* {
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-rows: 1fr 5fr 2fr;
}


    


header {
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    display: grid;
    grid-template-columns: 67% 33%;
    
}

.img-container {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    background-color:azure;
}

.dropdown-container {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    background-color: azure;
}

img {
    height: 150px;
    width: 250px;
    margin: 10px;
    justify-self: center;
}

.slogan-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: bisque;
}
