* {
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-rows: 1fr 5fr 1fr 2fr;
}


    


header {
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: cursive;
}

main {
    display: grid;
    grid-template-columns: 50% 50%;
    background-color: black;
    color: white;
    font-family: cursive;
    font-size: 20px;
    
}

.img-container {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    
    
}

.dropdown-container {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    
}

img {
    height: 150px;
    width: 250px;
    margin: 10px;
    justify-self: center;
    border-width: 0px;
    
}

.times-changed-section {
    text-align: center;
    background-color: rgb(231, 205, 173);
    font-family: cursive;
}

.slogan-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: bisque;
}

#water-image {
    border-width: 0px;
}

.hidden {
    display: none;
}

button {
    margin: 10px;
}